
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/print">
    <div>
    Imie: <input type='text' name='name' value='<%= name
    %>' />
    </div>
    <div>
    Nazwisko: <input type='text' name='surname' value='<%= surname
    %>' />
    </div>
    <div>
    Przedmiot: <input type='text' name='subject' value='<%= subject
    %>' />
    </div>
    <div>
    Zadanie 1: <input type='number' name='e1' value='<%= e1
    %>' />
    </div>
    <div>
    Zadanie 2: <input type='number' name='e2' value='<%= e2
    %>' />
    </div>
    <div>
    Zadanie 3: <input type='number' name='e3' value='<%= e3
    %>' />
    </div>
    <div>
    Zadanie 4: <input type='number' name='e4' value='<%= e4
    %>' />
    </div>
    <div>
    Zadanie 5: <input type='number' name='e5' value='<%= e5
    %>' />
    </div>
    <div>
    Zadanie 6: <input type='number' name='e6' value='<%= e6
    %>' />
    </div>
    <div>
    Zadanie 7: <input type='number' name='e7' value='<%= e7
    %>' />
    </div>
    <div>
    Zadanie 8: <input type='number' name='e8' value='<%= e8
    %>' />
    </div>
    <div>
    Zadanie 9: <input type='number' name='e9' value='<%= e9
    %>' />
    </div>
    <div>
    Zadanie 10: <input type='number' name='e10' value='<%= e10
    %>' />
    </div>
    <button type="submit">Zapisz</button>
    </form>
</body>
</html>
